*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.wrapper{
	height: auto;
	width: auto;
}
header{
	height: 104px;
	width: 1440px;
	padding-left: 3%;
	position: relative;
	overflow: hidden;
	background-color: #00bff3;
}
.sun_tour{
	height: 104px;
	width: 26%;
	float: left;
	background-image: url(img/sun.png);
	background-repeat: no-repeat;
	background-position: 169px 25px;
	opacity: 0.99;
}
.sun_tour:hover{
	opacity: 0.6;
}
.set{
	height: 104px;
	width: 21%;
	padding-top: 35px;
	float: left;
	box-sizing: border-box;
	color: white;
	font-size: 1.1vw;	
}
.phone{
	height: 104px;
	width: 16%;
	padding-top: 40px;
	float:left;
	box-sizing: border-box;
	color: white;
	font-size: 2vw;
	font-family: arial;
}
.call_back{
	height: 104px;
	width: 13%;
	padding-top: 46px;
	float: left;
	box-sizing: border-box;
}
.call_back a{
	color: white;
	text-decoration: underline;
	font-size: 1.05vw;
	font-family: arial;
}
.call_back a:hover{
	opacity: 0.5;
}
div.fb{
	height: 104px;
    width: 9%;
    padding-top: 34px;
    display: block;
	float: left;
	box-sizing: border-box;
}
ul.fb{
    display:inline-block;
}
.fb li{
    display: list-item;
    float: left;
}
.fb li a {
    width: 43px;
    padding-top: 35px;
    float: left;
	display: block;
    background-repeat: no-repeat;
    background-image:url(img/fb_w.png);
}
.fb li a:hover{
   opacity: 0.5;
}
a.fbook {
    background-position: 5px 0px;
}
a.google  {
    background-position: -42px  0px;
}
a.instagram  {
    background-position: -86px  0px;
}
.wrapper1{
	height: 552px;
	width: 1440px;
}
.main_pic{
	height: 552px;
	width: 72%;
	margin: auto;
	background-image: url(img/main.png);
	background-size: cover;
}
.main_pic a{
	width: 27%;
	height: 280px;
	padding-top: 270px;
	display: block;
}
.wrapper_aqua{
	height: 75px;
	width: 1440px;
	position: relative;
	overflow: hidden;
}
.wrapper_aqua_hotel{
	height: 75px;
	width: 69%;
	margin: auto;
	padding-top: 24px;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.aqua{
	height: 40px;
	width: 32%;
	float: left;
	border-bottom: 1px solid black;
}
.aqua a{
	color:black;
	font-family: "Trebuchet MS";
	font-size: 2.2vw;
	font-weight: 800;
}
.aqua a:hover{
	opacity: 0.6;
}
.stars{
	height: 40px;
	width: 14%;
	float: left;
	background-image: url(img/star.png);
	background-repeat: no-repeat;
}
.twenty_five{
	height: 40px;
	width: 33%;
	float: left;
	color: black;
	font-family: "Trebuchet MS";
	font-size: 2.01vw;
	font-weight: 900; 	
}
.three_hundred{
	height: 94px;
	width: 17%;
    padding-bottom: 10px;
    position: absolute;
	z-index: 9;
    right: 11%;
	bottom: 10px;
    background-image: url(img/number.png);
	background-repeat: no-repeat;	
}
.wrapper_estimate{
	height: 100px;
	width: 1440px;
	position: relative;
	overflow: hidden;
}
.wrapper_estimate_hotel{
	height: 75px;
	width: 69%;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.estimate{
	height: 100px;
	width: 12.5%;
	float: left;
	padding-top: 23px;
	font-family: arial;
	font-size: 0.9vw;
	font-weight: bold;
}
.eight{
	height: 52px;
	width: 5%;
	margin-top: 12px;
	padding-top: 12px;
	float: left;
	box-sizing: border-box;
	color: white;
	background-color: #00bff3;
	text-align: center;
	border-radius: 2px;
	font-family:"Trebuchet MS";
	font-weight: bold;
	font-size: 1.5vw;
}
.number{
	height: 52px;
	width: 4%;
	float: left;
	margin-left: 3%;
	margin-top: 19px;
	font-family: arial;
	font-weight: bold;
	font-size: 1.08vw;
	box-sizing: border-box;
	color:#777777;	
}
.wrapper_estimate span{
	color:black;
}
.service{
	height: 52px;
	width:4%;
	margin-left: 3%;
	margin-top: 19px;
	float: left;
	font-family: arial;
	font-weight: bold;
	font-size: 1.08vw;
	box-sizing: border-box;
	color:#777777;
}
.infrastr {
	height: 52px;
	width:37%;
	margin-left: 3%;
	margin-top: 19px;
	float: left;
	box-sizing: border-box;
	font-family: arial;
	font-weight: bold;
	font-size: 1.08vw;
	color:#777777;
}
.nutrition{
	height: 52px;
	width: 5%;
	margin-left: 3%;
	margin-top: 19px;
	float: left;
	box-sizing: border-box;
	font-family: arial;
	font-weight: bold;
	font-size: 1.08vw;
	color:#777777;
}
.suny_days{
	height: 52px;
	width: 20%;
	float: left;
	font-family: arial;
	font-weight: regular;
	font-size: 2vw;
}
.wrapper_photo{
	height: 290px;
	width: 1440px;
}
.wrapper_photo_sky{
	height: 290px;
	width: 71%;
	margin: auto;
	overflow: hidden;
	position: relative;
}
.see_photo{
	height: 280px;
	width: 48.5%;
	margin-right: 3%;
	float: left;
	background-image: url(img/blue.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.sky_photo{
	height: 280px;
	width: 48.5%;
	float: left;
	background-image: url(img/jump.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.wrapper_photo_sky a{
	height: inherit;
	width: 100%;
	display: block;
}
.wrapper_silk{
	height: 49px;
	width: 1440px;
}
.wrapper_silk_road{
	height: 49px;
	width: 71%;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.silk_road{
	height: 49px;
	width: 38%;
	float: left;
	border-bottom: 0.5px solid black;
}
.nine_hundred_eight{
	height: 49px;
	width: 13%;
	float: left;
	font-family: "Trebuchet MS";
	font-size: 3vw;
	font-weight: bold;
}
.not_give{
	height: 49px;
	width: 38%;
	float: left;
	border-bottom: 0.5px solid black;
}
.fivty_nine{
	height: 57px;
	width: 10%;
	float: left;
	font-family: "Trebuchet MS";
	font-size: 3vw;
	font-weight: bold;
}
.not_give a, 
.silk_road a, 
.nine_hundred_eight a, 
.fivty_nine a{
	height: 57px;
	display: block;
	color: black;
	font-family: "Trebuchet MS";
	font-size: 2vw;
	font-weight: bold;
}
.not_give a:hover, 
.silk_road a:hover, 
.nine_hundred_eight a:hover, 
.fivty_nine a:hover{
	opacity: 0.6;
}
.wrapper_extrim{
	height: 83px;
	width: 1440px;
}
.wrapper_extrim_road{
	height: 96px;
	width: 71%;
	padding-top: 10px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
.extrim_road{
	height: 96px;
	width: 52%;
	float: left;
	color: #828282;
	font-family: arial;
	font font-size: 0.3vw;	
}
.roupjumping{
	height: 96px;
	width: 45%;
	float: left;
	color: #828282;
	font-family: arial;
	font font-size: 0.3vw;	
}
.ningty{
	height: 96px;
	width: 2%;
	float: left;
	color: #828282;
	font-family: arial;
	font font-size: 0.3vw;
	text-decoration: line-through;	
}
.wrapper_36{
	height: 133px;
	width: 1440px;
}
.wrapper_36grad{
	height: 162px;
	width: 73%;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.thirty_six{
	height: 162px;
	width: 100%;
	font-family:"Trebuchet MS";
	font-size:3vw;
	letter-spacing: 0.05em;
	font-weight: bold;
}
.wrapper_nobody{
	height: 102px;
	width: 1440px;
}
.nobody{
	width: 71%;
	margin: auto;
	padding-right: 20%;
	font-family: arial;
	font-weight:900;
	font-size: 0.9vw;
	line-height: 1.5;
	box-sizing: border-box;
}
.wrapper_rude{
	height: 96px;
	width: 1440px;
}
.rude{
	height: 96px;
	width: 54%;
	margin: auto;
	padding-right: 17%;
	font-family: arial;
	font-weight:600;
	color: #000000;
	font-size: 0.85vw;
	line-height: 1.6;	
}
.wrapper_left_aside{
	height: 950px;
	width: 1440px;
}
.left{
	height: 950px;
	width: 69%;
	float: left;
}
aside{
	height: 950px;;
	width: 30%;
	float: left;
	padding-left: 1%;
}
.null{
	height: 107px;
	width: 100%;
	color:#777777;
	font-family: "Trebuchet MS";
	font-size: 6.5vw;
	font-weight: 600;
}
.whr{
	height: 76px;
	width: 100%;
	font-family: "Trebuchet MS";
	font-size: 2vw;
	font-weight: 400;
}
.one_from{
	height: 107px;
	width: 49%;
	font-family: "Trebuchet MS";
	font-size: 1.2vw;
	font-weight: 800;
	color: #777777;
	letter-spacing: 0.02em;
	line-height: 1.4;
}
.wrapper_find_answer{
	height: 30px;
	width: 1440px;
}
.find_answer{
	height: 30px;
	width: 71%;
	margin: auto;
	font-family: arial;
	font-weight: bold;
	font-size: 1.4vw;
}
.wrapper_what_inter{
	height: 617px;
	width: 1440px;
}
.what_interesting{
	height: 88px;
	width: 52%;
	margin: auto;
	padding-right: 19%;
	font-family: arial;
	font-weight:600;
	color: #000000;
	font-size: 0.85vw;
	line-height: 1.6;
}
.wrapper_delo{
	height: 111px;
	width: 1440px;
	padding-left: 16%;
}
.delo{
	height: 111px;
	width: 53%;
	padding-left: 0.5%;
	padding-top:10px;
	background-color: #f0fbfe;
	border-left: 3px solid #5de5f1;
	font-family: arial;
	font-weight:600;
	color: #000000;
	font-size: 0.90vw;
	line-height: 1.6;
	box-sizing: border-box;
}
.wrapper_percent{
	height: 128px;
	width: 1440px;
}
.percent{
	height: 128px;
	width: 52%;
	margin: auto;
	padding-right: 19%;
	padding-top: 10px;
	font-family: arial;
	font-weight:600;
	color: #000000;
	font-size: 0.85vw;
	line-height: 1.6;
}
.wrapper_hlorofil{
	height: 12px;
	width: 1440px;
}
.hlorofil{
	height: 12px;
	width: 52%;
	margin: auto;
	padding-right: 19%;
	font-family: arial;
	font-weight:800;
	color: #000000;
	font-size: 0.95vw;	
}
.wrapper_moglo{
	height: 89px;
	width: 1440px;	
}
.moglo{
	height: 89px;
	width: 52%;
	margin: auto;
	padding-right: 19%;
	padding-top: 10px;
	font-family: arial;
	font-weight:600;
	color: #000000;
	font-size: 0.85vw;
	line-height: 1.6;	
}
.wrapper_will_begin{
	height: 140px;
	width: 1440px;	
}
.will_begin{
	height: 140px;
	width: 52%;
	margin: auto;
	padding-right: 19%;
	padding-top: 10px;
	font-family: arial;
	font-weight:600;
	color: #000000;
	font-size: 0.85vw;
	line-height: 1.6;
}
.wrapper_table{
	height: 143px;
	width: 1440px;
	padding-left:20%;
}
table{
	width: 748px;
	height: 128px;
	font-weight: 700;
	font-family: arial;
	font-size: 0.8vw;
    text-align: center;
	border-collapse: collapse;
}
th{
	height: 18px;
	background: #ebebeb;
	border-bottom: 1px solid #777777;
	font-family: arial;
}
tr{
	height: 30px;
	border-bottom: 0.5px solid #ebebeb;
	padding: 5px;
}
.wrapper_conservativ{
	height: 148px;
	width: 1000px;
	font-family: arial;
	font-weight:500;
	color: #000000;
	font-size: 0.95vw;
	line-height: 1.6;
}
.conservativ{
	height: 26px;
    width: 76%;
	margin-left: 21%;
}
.wrapper_spisok{
	width: 1440px;
	height: 148px;	
}
.spisok{
	width:69%;
	margin: auto;
}
.spisok li{
	height: 24px;
}
.wrapper_me{
	height: 98px;
	width: 1440px;
}
.me{
	height: 40px;
	width: 71%;
	margin: auto;
	color: #ff0000;
	font-family: arial;
	font-size: 1.1vw;
	font-weight: 400;
	letter-spacing: 0.03em;
	border-bottom: 1px solid #777777;
}
.me1{
	text-decoration: underline;
}
footer{
	height: 50px;
	width: 1440px;
	position: relative;
	overflow: hidden;
}
.footer_test{
	height: 50px;
	width: 911px;
	padding-top: 22px;
	margin-left: 15%;
	font-family: arial;
	font-size: 0.75vw;
	font-weight: 500;
	letter-spacing: 0.02em;
	float: left;
}
.me2{
	color: #6bbdff;
}
.me2:hover{
	opacity: 0.5;
}
.wrapper_fb_dowvn{
	height: 50px;
	width: 200px;
	float: left;
}

div.fb_down{
    height: 10px;
    display: block;
	float: left;
	padding-top: 12px;
	box-sizing: border-box;
}
ul.fb_down{
    display:inline-block;
}
.fb_down li{
    display: list-item;
    float: left;
}
.fb_down li a {
    width: 43px;
    display: block;
    padding-top: 35px;
    float: left;
    background-repeat: no-repeat;
    background-image:url(img/fb.png);
}
.fb_down li a:hover{
   opacity: 0.5;
}
a.fbook {
    background-position: 5px 0px;
}
a.google  {
    background-position: -42px  0px;
}
a.instagram  {
    background-position: -86px  0px;
}

/*-----------------------------1334px-------------------------------------------------------------------*/

@media(max-width:1334px){

header{
	width: 1334px;	
}
.sun_tour{
	width: 31%;
}
.set{
	width: 12%;
	font-size: 1.2vw;	
}
.phone{
	width: 13%;
	font-size: 1.8vw;
}
div.fb{
    width: 13%;
}
.wrapper1{
	width: 1334px;
}
.wrapper_aqua{
	width: 1334px;
}
.three_hundred{
	width: 23%;
    right: 0%;
}
.wrapper_estimate{
	height: 86px;
	width: 1334px;
}
.estimate{
	font-size: 1.2vw;
}
.eight{
	height: 43px;
}
.wrapper_photo{
	height: 287px;
	width: 1334px;
}
.wrapper_photo_sky{
	height: 260px;
}
.wrapper_silk{
	height: 35px;
	width: 1334px;
}
.wrapper_extrim{
	height:44px;
	width: 1334px;
}
.wrapper_extrim_road{
	height: 44px;
	width: 67%;
}
.extrim_road{
	height: 44px;
	width: 54%;
}
.roupjumping{
	height: 44px;
	width: 30%;
}
.wrapper_36{
	height: 113px;
	width: 1334px;
}
.wrapper_nobody{
	height: 102px;
	width: 1334px;
}
.nobody{
	width: 71%;
	padding-right: 0;
	text-align: center;
	font-size: 1.2vw;
}
.wrapper_rude{
	height: 120px;
	width: 1334px;
}
.rude{
	height: 96px;
	width: 71%;
    text-align: center;
	padding-right: 0;
	font-size: 1.2vw;
}
.wrapper_left_aside{
	height: 1015px;
	width: 1334px;
}
.left{
	height: 950px;
	width: 100%;
	float: left;
}
aside{
	display: none;
}
.wrapper_find_answer{
	width: 1334px;
}
.wrapper_what_inter{
	height: 680px;
	width: 1334px;
}
.what_interesting{
	height: 88px;
	width: 71%;
	text-align: center;
	padding-right: 0;
	font-size: 1.2vw;
}
.wrapper_delo{
	height: 125px;
	width: 1334px;
	padding-left: 0;
}
.delo{
	height: 120px;
	width: 72%;
	margin: auto;
	padding-left: 10px;
	padding-top:10px;
	font-size: 1.2vw;
}
.wrapper_percent{
	height: 145px;
	width: 1334px;
}
.percent{
	height: 128px;
	width: 71%;
	margin: auto;
	padding-right: 0;
	text-align: center;
	font-size: 1.2vw;
}
.wrapper_hlorofil{
	height: 12px;
	width: 1334px;
}
.hlorofil{
	height: 25px;
	width: 68%;
	padding-right: 0;
	font-size: 1.4vw;	
}
.wrapper_moglo{
	height: 89px;
	width: 1334px;	
}
.moglo{
	height: 89px;
	width: 71%;
	padding-right: 0;
	padding-top: 20px;
	text-align: center;
   font-size: 1.2vw;	
}
.wrapper_will_begin{
	height: 140px;
	width: 1334px;	
}
.will_begin{
	height: 140px;
	width: 71%;
	padding-right: 0;
	padding-top: 10px;
	text-align: center;
	font-size: 1.2vw;
}
.wrapper_table{
	width: 1334px;
	padding-left:21%;
}
.conservativ{
    width: 1334px;
	font-size: 1.2vw;
}
.wrapper_me{
	height: 27px;
	width: 1334px;
}
.me{
	width: 65%;	
}
footer{
	width: 1334px;
}
.footer_test{
	width: 695px;
	font-size: 1vw;
}
}

/*-----------------------------1024px-------------------------------------------------------------------*/

@media(max-width:1024px){

header{
	width: 1024px;	
}
.sun_tour{
	width: 37%;
}
.set{
	width: 12%;
	font-size: 1.4vw;	
}
.phone{
	width: 13%;
	font-size: 1.8vw;
}
.call_back a:hover{
	opacity: 0.5;
}
div.fb{
    width: 13%;
}
.wrapper1{
	height: 500px;
	width: 1024px;
}
.main_pic{
	height: 500px;
}
.wrapper_aqua{
	width: 1024px;
}
.stars{
	width: 19%;
}
.three_hundred{
	width: 23%;
    right: 0%;
}
.wrapper_estimate{
	height: 86px;
	width: 1024px;
}
.estimate{
	font-size: 1.2vw;
}
.eight{
	height: 43px;
}
.wrapper_photo{
	height: 230px;
	width: 1024px;
}
.wrapper_photo_sky{
	height: 200px;
}
.wrapper_silk{
	width: 1024px;
}
.wrapper_extrim{
	height:44px;
	width: 1024px;
}
.wrapper_extrim_road{
	height: 44px;
	width: 67%;
}
.extrim_road{
	height: 44px;
	width: 54%;
}
.roupjumping{
	height: 44px;
	width: 30%;
}
.wrapper_36{
	height: 86px;
	width: 1024px;
}
.wrapper_nobody{
	height: 102px;
	width: 1024px;
}
.nobody{
	width: 71%;
	padding-right: 0;
	text-align: center;
	font-size: 1.2vw;
}
.wrapper_rude{
	width: 1024px;
}
.rude{
	height: 96px;
	width: 71%;
    text-align: center;
	padding-right: 0;
	font-size: 1.2vw;
}
.wrapper_left_aside{
	height: 950px;
	width: 1024px;
}
.left{
	height: 950px;
	width: 100%;
	float: left;
}
aside{
	display: none;
}
.wrapper_find_answer{
	width: 1024px;
}
.wrapper_what_inter{
	height: 617px;
	width: 1024px;
}
.what_interesting{
	height: 88px;
	width: 71%;
	text-align: center;
	padding-right: 0;
	font-size: 1.2vw;
}
.wrapper_delo{
	height: 92px;
	width: 1024px;
	padding-left: 0;
}
.delo{
	height: 92px;
	width: 72%;
	margin: auto;
	padding-left: 10px;
	padding-top:10px;
	font-size: 1.2vw;
}
.wrapper_percent{
	height: 128px;
	width: 1024px;
}
.percent{
	height: 128px;
	width: 71%;
	margin: auto;
	padding-right: 0;
	text-align: center;
	font-size: 1.2vw;
}
.wrapper_hlorofil{
	height: 12px;
	width: 1024px;
}
.hlorofil{
	height: 18px;
	width: 68%;
	padding-right: 0;
	font-size: 1.4vw;	
}
.wrapper_moglo{
	height: 89px;
	width: 1024px;	
}
.moglo{
	height: 89px;
	width: 71%;
	padding-right: 0;
	padding-top: 20px;
	text-align: center;
    font-size: 1.2vw;	
}
.wrapper_will_begin{
	height: 140px;
	width: 1024px;	
}
.will_begin{
	height: 140px;
	width: 71%;
	padding-right: 0;
	padding-top: 10px;
	text-align: center;
	font-size: 1.2vw;
}
.wrapper_table{
	width: 1024px;
	padding-left:14%;
}
.conservativ{
    width: 1024px;
	font-size: 1.2vw;
}
.wrapper_me{
	height: 27px;
	width: 1024px;
}
.me{
	height: 27px;	
}
footer{
	width: 1024px;
}
.footer_test{
	width: 596px;
	font-size: 1.2vw;
}
}

/*-----------------------------1080px-------------------------*/

@media(max-width:1080px){

header{
	height: 86px;
	width: 1080px;	
}
.sun_tour{
	width: 37%;
}
.set{
	width: 12%;
	font-size: 1.4vw;	
}
.phone{
	width: 13%;
	font-size: 1.8vw;
}
.call_back a:hover{
	opacity: 0.5;
}
div.fb{
    width: 13%;
}
.wrapper1{
	height: 414px;
	width: 1080px;
}
.main_pic{
	height: 400px;
}
.main_pic a{
	height: 256px;
}
.wrapper_aqua{
	width: 1080px;
}
.stars{
	width: 19%;
}
.three_hundred{
	width: 23%;
    right: 5%;
}
.wrapper_estimate{
	height: 86px;
	width: 1080px;
}
.estimate{
	font-size: 1.2vw;
}
.eight{
	height: 43px;
}
.wrapper_photo{
	height: 230px;
	width: 1080px;
}
.wrapper_photo_sky{
	height: 200px;
}
.wrapper_silk{
	width: 1080px;
}
.wrapper_extrim{
	height:44px;
	width: 1080px;
}
.wrapper_extrim_road{
	height: 44px;
	width: 67%;
}
.extrim_road{
	height: 44px;
	width: 54%;
}
.roupjumping{
	height: 44px;
	width: 30%;
}
.wrapper_36{
	height: 86px;
	width: 1080px;
}
.wrapper_nobody{
	height: 102px;
	width: 1080px;
}
.nobody{
	width: 71%;
	padding-right: 0;
	text-align: center;
	font-size: 1.2vw;
}
.wrapper_rude{
	width: 1080px;
}
.rude{
	height: 96px;
	width: 71%;
    text-align: center;
	padding-right: 0;
	font-size: 1.2vw;
}
.wrapper_left_aside{
	height: 950px;
	width: 1080px;
}
.left{
	height: 950px;
	width: 100%;
	float: left;
}
aside{
	display: none;
}
.wrapper_find_answer{
	width: 1080px;
}
.wrapper_what_inter{
	height: 617px;
	width: 1080px;
}
.what_interesting{
	height: 88px;
	width: 71%;
	text-align: center;
	padding-right: 0;
	font-size: 1.2vw;
}
.wrapper_delo{
	height: 92px;
	width: 1080px;
	padding-left: 0;
}
.delo{
	height: 92px;
	width: 72%;
	margin: auto;
	padding-left: 10px;
	padding-top:10px;
	font-size: 1.2vw;
}
.wrapper_percent{
	height: 128px;
	width: 1080px;
}
.percent{
	height: 128px;
	width: 71%;
	margin: auto;
	padding-right: 0;
	text-align: center;
	font-size: 1.2vw;
}
.wrapper_hlorofil{
	height: 12px;
	width: 1024px;
}
.hlorofil{
	height: 18px;
	width: 68%;
	padding-right: 0;
	font-size: 1.4vw;	
}
.wrapper_moglo{
	height: 89px;
	width: 1080px;	
}
.moglo{
	height: 89px;
	width: 71%;
	padding-right: 0;
	padding-top: 20px;
	text-align: center;
   font-size: 1.2vw;	
}
.wrapper_will_begin{
	height: 140px;
	width: 1080px;	
}
.will_begin{
	height: 140px;
	width: 71%;
	padding-right: 0;
	padding-top: 10px;
	text-align: center;
	font-size: 1.2vw;
}
.wrapper_table{
	width: 1080px;
	padding-left:15%;
}
.conservativ{
    width: 1080px;
	font-size: 1.2vw;
}
.wrapper_me{
	height: 27px;
	width: 1080px;
}
.me{
	height: 27px;	
}
footer{
	width: 1080px;
}
.footer_test{
	width: 596px;
	font-size: 1.2vw;
}
}
/*-----------------------------768px-------------------------*/

@media(max-width:768px){

header{
	height: 74px;
	width: 768px;
	padding-left: 0;
}
.sun_tour{
	height: 74px;
	width: 30%;
	background-position: 30px 15px;
}
.set{
	height: 74px;
	width: 13%;
	padding-top: 26px;
	font-size: 1.6vw;	
}
.phone{
	height: 74px;
	width: 12%;
	padding-top: 32px;
}
.call_back{
	height: 74px;
	width: 13%;
	padding-top: 30px;
}
.call_back a{
	font-size: 1.6vw;
}
div.fb{
	height: 74px;
    width: 25%;
    padding-top: 18px;
}
.wrapper1{
	height: 299px;
	width: 768px;
}
.main_pic{
	height: 299px;
}
.main_pic a{
	width: 27%;
	height: 50px;
	padding-top: 200px;
	display: block;
}
.wrapper_aqua{
	height: 75px;
	width: 768px;
	position: relative;
	overflow: hidden;
}
.wrapper_aqua_hotel{
	padding-top: 19px;
}
.aqua{
	height: 29px;
	width: 30%;
}
.stars{
	width: 21%;
}
.three_hundred{
	height: 90px;
	width: 30%;
    right: 2%; 	
}
.wrapper_estimate{
	height: 70px;
	width: 768px;
}
.estimate{
	width: 12.5%;
	font-size: 1.3vw;
}
.eight{
	height: 36px;
}
.number{
	width: 5%;
	font-size: 1.6vw;
}
.service{
	width:5%;
	font-size: 1.6vw;
}
.infrastr {
    width: 30%;
	font-size: 1.6vw;
}
.nutrition{
	width: 6%;
	margin-left: 3%;
	font-size: 1.6vw;
}
.wrapper_photo{
	height: 180px;
	width: 768px;
}
.wrapper_photo_sky{
	height: 290px;
}
.see_photo{
	height: 150px;
}
.wrapper_photo_sky a{
	height: 150px;
}
.wrapper_silk{
	height: 49px;
	width: 768px;
}
.wrapper_silk_road{
	height: 49px;
	width: 71%;
}
.not_give a, 
.silk_road a, 
.nine_hundred_eight a, 
.fivty_nine a{
	font-size: 2.5vw;
}
.wrapper_extrim{
	height: 48px;
	width: 768px;
}
.wrapper_extrim_road{
	height: 48px;
}
.roupjumping{
	width: 41%;
}
.wrapper_36{
	height: 73px;
	width: 768px;
}
.wrapper_36grad{
	height: 73px;
}
.thirty_six{
	height: 73px;
}
.wrapper_nobody{
	height: 125px;
	width: 768px;
}
.nobody{
	width: 75%;
	padding-right: 10%;
	font-size: 1.5vw;
	line-height: 2;
}
.wrapper_rude{
	height: 96px;
	width: 768px;
}
.rude{
	height: 96px;
	width: 67%;
	padding-right: 9%;
	font-size: 1.5vw;	
}
.wrapper_left_aside{
	height: 998px;
	width: 768px;
}
.left{
	height: 950px;
	width: 69%;
	float: left;
}
aside{
    display: none;
}
.wrapper_find_answer{
	height: 30px;
	width: 768px;
}
.find_answer{
	font-size: 1.6vw;
}
.wrapper_what_inter{
	height: 665px;
	width: 768px;
}
.what_interesting{
    height: 104px;
	width: 67%;
	padding-right: 10%;
	font-size: 1.6vw;
}
.wrapper_delo{
	height: 93px;
	width: 768px;
	padding-left: 0;
}
.delo{
	height: 82px;
	width: 80%;
	line-height: 1.6;
}
.wrapper_percent{
	height: 128px;
	width: 768px;
}
.percent{
	height: 128px;
	width: 74%;
	font-size: 1.6vw;
}
.wrapper_hlorofil{
	height: 16px;
	width: 768px;
}
.hlorofil{
	height: 16px;
	font-size: 1.6vw;	
}
.wrapper_moglo{
	height: 89px;
	width: 768px;	
}
.moglo{
	height: 89px;
	width: 72%;
	padding-right: 1%;
	font-size: 1.6vw;	
}
.wrapper_will_begin{
	height: 140px;
	width: 768px;	
}
.will_begin{
	height: 140px;
	width: 72%;
	padding-right: 1%;
	font-size: 1.6vw;
}
.wrapper_table{
	width:748px;
	padding-left:9%;
}
table{
	width: 648px;
	height: 128px;
}
.wrapper_conservativ{
	height: 148px;
	font-size: 1.2vw;
}
.conservativ{
	height: 26px;
    width: 76%;
	margin-left: 11%;
}
.wrapper_spisok{
	width: 768px;
	height: 148px;	
}
.spisok{
	width:69%;
	margin: auto;
}
.spisok li{
	height: 24px;
}
.wrapper_me{
	height: 98px;
	width: 768px;
}
.me{
	font-size: 1.6vw;
}
footer{
	width: 768px;
}
.footer_test{
	width: 436px;
	font-size: 1.2vw;
}
}
/*-----------------------------720px-------------------------*/

@media(max-width:720px){

header{
	width: 720px;	
}
.sun_tour{
	width: 25%;
	background-position: 3px 5px;
}
.set{
	height: 74px;
	width: 13%;
	padding-top: 26px;
	font-size: 1.8vw;	
}
.phone{
	height: 74px;
	width: 12%;
	padding-top: 32px;
}
.call_back{
	height: 74px;
	width: 18%;
	padding-top: 30px;
}
.call_back a{
	font-size: 1.6vw;
}
div.fb{
	height: 74px;
    width: 25%;
    padding-top: 18px;
}
.wrapper1{
	height: 252px;
	width: 720px;
}
.main_pic{
	height: 241px;
}
.main_pic a{
	width: 27%;
	height: 50px;
	padding-top: 200px;
	display: block;
}
.wrapper_aqua{
	height: 75px;
	width: 720px;
	position: relative;
	overflow: hidden;
}
.wrapper_aqua_hotel{
	padding-top: 19px;
}
.aqua{
	height: 29px;
	width: 30%;
}
.aqua a{
	font-size: 2.4vw;
}
.stars{
	width: 25%;
}
.three_hundred{
	height: 90px;
	width: 36%;
    right: 4%; 	
}
.wrapper_estimate{
	height: 70px;
	width: 720px;
}
.estimate{
	width: 12.5%;
	font-size: 1.3vw;
}
.eight{
	height: 32px;
}
.number{
	width: 5%;
	font-size: 1.6vw;
}
.service{
	width:5%;
	font-size: 1.6vw;
}
.infrastr {
    width: 30%;
	font-size: 1.6vw;
}
.nutrition{
	width: 6%;
	margin-left: 3%;
	font-size: 1.6vw;
}
.wrapper_photo{
	height: 142px;
	width: 720px;
}
.wrapper_photo_sky{
	height: 144px;
}
.see_photo{
	height: 141px;
}
.wrapper_photo_sky a{
	height: 142px;
}
.wrapper_silk{
	height: 49px;
	width: 720px;
}
.wrapper_silk_road{
	height: 49px;
	width: 71%;
}
.not_give a, 
.silk_road a, 
.nine_hundred_eight a, 
.fivty_nine a{
	font-size: 2vw;
}
.wrapper_extrim{
	height: 48px;
	width: 720px;
}
.wrapper_extrim_road{
	height: 48px;
	font-size: 1.8vw;
}
.roupjumping{
	width: 41%;
}
.wrapper_36{
	height: 73px;
	width: 720px;
}
.wrapper_36grad{
	height: 73px;
}
.thirty_six{
	height: 73px;
}
.wrapper_nobody{
	height: 125px;
	width: 720px;
}
.nobody{
	width: 75%;
	padding-right: 10%;
	font-size: 1.5vw;
	line-height: 2;
}
.wrapper_rude{
	height: 96px;
	width: 720px;
}
.rude{
	height: 96px;
	width: 67%;
	padding-right: 9%;
	font-size: 1.5vw;	
}
.wrapper_left_aside{
	height: 998px;
	width: 720px;
}
.left{
	height: 950px;
	width: 69%;
	float: left;
}
aside{
    display: none;
}
.wrapper_find_answer{
	height: 30px;
	width: 720px;
}
.find_answer{
	font-size: 1.6vw;
}
.wrapper_what_inter{
	height: 637px;
	width: 720px;
}
.what_interesting{
    height: 104px;
	width: 67%;
	padding-right: 10%;
	font-size: 1.6vw;
}
.wrapper_delo{
	height: 93px;
	width: 720px;
	padding-left: 0;
	padding-right: 10%;
}
.delo{
	height: 82px;
	width: 80%;
	line-height: 1.6;
}
.wrapper_percent{
	height: 128px;
	width: 720px;
}
.percent{
	height: 128px;
	width: 74%;
	font-size: 1.6vw;
}
.wrapper_hlorofil{
	height: 16px;
	width: 720px;
}
.hlorofil{
	height: 16px;
	font-size: 1.6vw;	
}
.wrapper_moglo{
	height: 89px;
	width: 720px;	
}
.moglo{
	height: 89px;
	width: 72%;
	padding-right: 1%;
	font-size: 1.6vw;	
}
.wrapper_will_begin{
	height: 140px;
	width: 720px;	
}
.will_begin{
	height: 140px;
	width: 72%;
	padding-right: 1%;
	font-size: 1.6vw;
}
.wrapper_table{
	width:700px;
	padding-left:15%;
}
table{
	width: 548px;
	height: 128px;
	font-size: 1vw;
}
.wrapper_conservativ{
	height: 148px;
	font-size: 1.6vw;
}
.conservativ{
	height: 26px;
    width: 76%;
	margin-left: 5%;
	font-size: 1.6vw;
}
.wrapper_spisok{
	width: 640px;
	height: 148px;	
}
.spisok{
	width:69%;
	margin: auto;
}
.spisok li{
	height: 24px;
}
.wrapper_me{
	height: 98px;
	width: 720px;
}
.me{
	font-size: 1.6vw;
}
footer{
	width: 720px;
}
.footer_test{
	width: 308px;
	font-size: 1.4vw;
}	
}
/*-----------------------------640px-------------------------*/

@media(max-width:640px){

.sun_tour{
	width: 25%;
	background-position: 3px 5px;
}
.set{
	height: 74px;
	width: 13%;
	padding-top: 26px;
	font-size: 1.8vw;	
}
.phone{
	height: 74px;
	width: 12%;
	padding-top: 32px;
}
.call_back{
	height: 74px;
	width: 13%;
	padding-top: 30px;
}
.call_back a{
	font-size: 1.6vw;
}
div.fb{
	height: 74px;
    width: 25%;
    padding-top: 18px;
}
.wrapper1{
	height: 252px;
	width: 640px;
}
.main_pic{
	height: 241px;
}
.main_pic a{
	width: 27%;
	height: 50px;
	padding-top: 200px;
	display: block;
}
.wrapper_aqua{
	height: 75px;
	width: 640px;
	position: relative;
	overflow: hidden;
}
.wrapper_aqua_hotel{
	padding-top: 19px;
}
.aqua{
	height: 29px;
	width: 30%;
}
.aqua a{
	font-size: 2.4vw;
}
.stars{
	width: 25%;
}
.three_hundred{
	height: 90px;
	width: 36%;
    right: 4%; 	
}
.wrapper_estimate{
	height: 70px;
	width: 640px;
}
.estimate{
	width: 12.5%;
	font-size: 1.3vw;
}
.eight{
	height: 32px;
}
.number{
	width: 5%;
	font-size: 1.6vw;
}
.service{
	width:5%;
	font-size: 1.6vw;
}
.infrastr {
    width: 30%;
	font-size: 1.6vw;
}
.nutrition{
	width: 6%;
	margin-left: 3%;
	font-size: 1.6vw;
}
.wrapper_photo{
	height: 142px;
	width: 640px;
}
.wrapper_photo_sky{
	height: 144px;
}
.see_photo{
	height: 124px;
}
.wrapper_photo_sky a{
	height: 144px;
}
.wrapper_silk{
	height: 49px;
	width: 640px;
}
.wrapper_silk_road{
	height: 49px;
	width: 71%;
}
.not_give a, 
.silk_road a, 
.nine_hundred_eight a, 
.fivty_nine a{
	font-size: 2.5vw;
}
.wrapper_extrim{
	height: 48px;
	width: 640px;
}
.wrapper_extrim_road{
	height: 48px;
	font-size: 1.8vw;
}
.roupjumping{
	width: 41%;
}
.wrapper_36{
	height: 73px;
	width: 640px;
}
.wrapper_36grad{
	height: 73px;
}
.thirty_six{
	height: 73px;
}
.wrapper_nobody{
	height: 125px;
	width: 640px;
}
.nobody{
	width: 75%;
	padding-right: 10%;
	font-size: 1.5vw;
	line-height: 2;
}
.wrapper_rude{
	height: 96px;
	width: 640px;
}
.rude{
	height: 96px;
	width: 67%;
	padding-right: 9%;
	font-size: 1.5vw;	
}
.wrapper_left_aside{
	height: 998px;
	width: 640px;
}
.left{
	height: 950px;
	width: 69%;
	float: left;
}
aside{
    display: none;
}
.wrapper_find_answer{
	height: 30px;
	width: 640px;
}
.find_answer{
	font-size: 1.6vw;
}
.wrapper_what_inter{
	height: 637px;
	width: 640px;
}
.what_interesting{
    height: 104px;
	width: 67%;
	padding-right: 10%;
	font-size: 1.6vw;
}
.wrapper_delo{
	height: 93px;
	width: 603px;
	padding-left: 0;
	padding-right: 10%;
}
.delo{
	height: 82px;
	width: 80%;
	line-height: 1.6;
}
.wrapper_percent{
	height: 128px;
	width: 640px;
}
.percent{
	height: 128px;
	width: 74%;
	font-size: 1.6vw;
}
.wrapper_hlorofil{
	height: 16px;
	width: 640px;
}
.hlorofil{
	height: 16px;
	font-size: 1.6vw;	
}
.wrapper_moglo{
	height: 89px;
	width: 640px;	
}
.moglo{
	height: 89px;
	width: 72%;
	padding-right: 1%;
	font-size: 1.6vw;	
}
.wrapper_will_begin{
	height: 140px;
	width: 640px;	
}
.will_begin{
	height: 140px;
	width: 72%;
	padding-right: 1%;
	font-size: 1.6vw;
}
.wrapper_table{
	width:548px;
	padding-left:8%;
}
table{
	width: 548px;
	height: 128px;
	font-size: 1vw;
}
.wrapper_conservativ{
	height: 148px;
	font-size: 1.6vw;
}
.conservativ{
	height: 26px;
    width: 76%;
	margin-left: 5%;
	font-size: 1.6vw;
}
.wrapper_spisok{
	width: 640px;
	height: 148px;	
}
.spisok{
	width:69%;
	margin: auto;
}
.spisok li{
	height: 24px;
}
.wrapper_me{
	height: 98px;
	width: 640px;
}
.me{
	font-size: 1.6vw;
}
footer{
	width: 640px;
}
.footer_test{
	width: 308px;
	font-size: 1.4vw;
}	
}


/*-----------------------------480px-------------------------*/

@media(max-width:480px){

header{
	height: 58px;
}
.sun_tour{
	height: 54px;
	width: 25%;
	background-position: 3px 5px;
}
.set{
	height: 58px;
	width: 9%;
	padding-top: 26px;
	font-size: 1.8vw;	
}
.phone{
	height: 58px;
	width: 9%;
	padding-top: 32px;
}
.call_back{
	display:none;
}
.call_back a{
	font-size: 1.6vw;
}
div.fb{
	height: 58px;
    width: 25%;
    padding-top: 18px;
}
.wrapper1{
	height: 176px;
	width: 480px;
}
.main_pic{
	height: 178px;
}
.main_pic a{
	width: 15%;
	height: 50px;
	padding-top: 150px;
	display: block;
}
.wrapper_aqua{
	height: 75px;
	width: 480px;
	position: relative;
	overflow: hidden;
}
.wrapper_aqua_hotel{
	padding-top: 19px;
}
.aqua{
	height: 29px;
	width: 26%;
}
.aqua a{
	font-size: 2.1vw;
}
.stars{
	width: 32%;
}
.three_hundred{
   display: none;	
}
.suny_days{
	display: none;
}
.wrapper_estimate{
	height: 70px;
	width: 480px;
}
.estimate{
	width: 14.5%;
	font-size: 1.3vw;
}
.eight{
	height: 24px;
}
.number{
	width: 5%;
	font-size: 1.6vw;
}
.service{
	width:5%;
	font-size: 1.6vw;
}
.infrastr {
    width: 30%;
	font-size: 1.6vw;
}
.nutrition{
	width: 6%;
	margin-left: 3%;
	font-size: 1.6vw;
}
.wrapper_photo{
	height: 94px;
	width: 480px;
}
.wrapper_photo_sky{
	height: 94px;
}
.see_photo{
	height: 94px;
}
.wrapper_photo_sky a{
	height: 94px;
}
.wrapper_silk{
	height: 49px;
	width: 480px;
}
.wrapper_silk_road{
	height: 49px;
	width: 71%;
}
.not_give a, 
.silk_road a, 
.nine_hundred_eight a, 
.fivty_nine a{
	height: 10px;
	font-size: 2.5vw;
}
.wrapper_extrim{
	height: 48px;
	width: 480px;
}
.wrapper_extrim_road{
	height: 48px;
	font-size: 2vw;
}
.roupjumping{
	width: 41%;
}
.wrapper_36{
	height: 47px;
	width: 640px;
}
.wrapper_36grad{
	height: 47px;
}
.thirty_six{
	height: 73px;
}
.wrapper_nobody{
	height: 102px;
	width: 480px;
}
.nobody{
	width: 85%;
	padding-right: 10%;
	font-size: 1.8vw;
	line-height: 2;
}
.wrapper_rude{
	height: 96px;
	width: 480px;
}
.rude{
	height: 96px;
	width: 85%;
	padding-right: 9%;
	font-size: 2vw;	
}
.wrapper_left_aside{
	height: 921px;
	width: 480px;
}
.left{
	height: 922px;
	width: 100%;
	float: left;
}
aside{
    display: none;
}
.wrapper_find_answer{
	height: 30px;
	width: 480px;
}
.find_answer{
	font-size: 3vw;
}
.wrapper_what_inter{
	height: 586px;
	width: 480px;
}
.what_interesting{
    height: 90px;
	width:85%;
	padding-right: 10%;
	font-size: 2vw;
}
.wrapper_delo{
	height: 93px;
	width: 455px;
	padding-left: 0;
	padding-right: 10%;
}
.delo{
	height: 82px;
	width: 95%;
	line-height: 1.6;
	font-size: 1.8vw;
}
.wrapper_percent{
	height: 103px;
	width: 480px;
}
.percent{
	height: 128px;
	width: 90%;
	font-size: 2vw;
}
.wrapper_hlorofil{
	height: 16px;
	width: 480px;
}
.hlorofil{
	height: 16px;
	font-size: 2vw;	
}
.wrapper_moglo{
	height: 89px;
	width: 480px;	
}
.moglo{
	height: 89px;
	width: 84%;
	padding-right: 1%;
	font-size: 2vw;	
}
.wrapper_will_begin{
	height: 140px;
	width: 480px;	
}
.will_begin{
	height: 140px;
	width: 84%;
	padding-right: 1%;
	font-size: 2vw;
}
.wrapper_table{
	width:548px;
	padding-left:3%;
}
table{
	width: 448px;
	height: 110px;
	font-size: 1.5vw;
}
.wrapper_conservativ{
	height: 148px;
	font-size: 1.8vw;
}
.conservativ{
	height: 26px;
    width: 76%;
	margin-left: 1%;
	font-size: 1.8vw;
}
.wrapper_spisok{
	width: 480px;
	height: 148px;	
}
.spisok{
	width:69%;
	margin: auto;
}
.spisok li{
	height: 24px;
}
.wrapper_me{
	height: 98px;
	width: 480px;
}
.me{
	font-size: 1.8vw;
}
footer{
	width: 480px;
}
.footer_test{
	width: 202px;
	font-size: 1.6vw;
}
}
/*-----------------------------320px-------------------------*/

@media(max-width:320px){

header{
	height: 58px;	
}
.sun_tour{
	height: 54px;
	width: 25%;
	background-position: 3px 5px;
}
.set{
    display:none;	
}
.phone{
	height: 58px;
	width: 12%;
	padding-top: 32px;
	font-size: 4vw;
}
.call_back{
	display:none;
}
.call_back a{
	font-size: 1.6vw;
}
div.fb{
	display:none;
}
.wrapper1{
	height: 123px;
	width: 319px;
}
.main_pic{
	height: 123px;
}
.main_pic a{
	width: 15%;
	height: 50px;
	padding-top: 150px;
	display: block;
}
.wrapper_aqua{
	height: 65px;
	width: 480px;
	position: relative;
	overflow: hidden;
}
.wrapper_aqua_hotel{
	height: 100px;
	width: 87%;
	padding-top: 19px;
}
.aqua{
	height: 29px;
	width: 26%;
}
.aqua a{
	font-size: 3.5vw;
}
.stars{
	width: 30%;
}
.twenty_five{
	font-size: 3.5vw;
}
.three_hundred{
	display: none;	
}
.wrapper_estimate_hotel{
	width: 83%;
}
.wrapper_estimate{
	height: 56px;
	width: 480px;
}
.estimate{
	height: 56px;
	width: 14.5%;
	font-size: 2.2vw;
}
.eight{
	height: 31px;
	font-size: 2.2vw;
}
.number{
	width: 5%;
	font-size: 2.2vw;
}
.service{
	width:5%;
	font-size: 2.2vw;
}
.infrastr {
    width: 30%;
	font-size: 2.2vw;
}
.nutrition{
	width: 6%;
	margin-left: 3%;
	font-size: 2.2vw;
}
.wrapper_photo{
	height: 94px;
	width: 480px;
}
.wrapper_photo_sky{
	width: 88%;
	height: 94px;
}
.see_photo{
	width: 30%;
	height: 72px;
}
.sky_photo{
	width: 30%;
	height: 94px;	
}
.wrapper_photo_sky a{
	height: 72px;
}
.wrapper_silk{
	display:none;
}
.wrapper_silk_road{
	height: 49px;
	width: 71%;
}
.not_give a, 
.silk_road a, 
.nine_hundred_eight a, 
.fivty_nine a{
	height: 10px;
	font-size: 2.5vw;
}
.wrapper_extrim{
	display:none;
}
.wrapper_extrim_road{
	height: 48px;
	font-size: 2vw;
}
.roupjumping{
	width: 41%;
}
.wrapper_36{
	display:none;
}
.wrapper_36grad{
	height: 47px;
}
.thirty_six{
	height: 73px;
}
.wrapper_nobody{
	height: 145px;
	width: 320px;
}
.nobody{
	width: 77%;
	padding-right: 3%;
	font-size: 2.8vw;
	line-height: 2;
}
.wrapper_rude{
	height: 159px;
	width: 320px;
}
.rude{
	height: 96px;
	width: 77%;
	padding-right: 3%;
	font-size: 3vw;	
}
.wrapper_left_aside{
	height: 1021px;
	width: 480px;
}
.left{
	height: 922px;
	width: 100%;
	float: left;
}
aside{
    display: none;
}
.wrapper_find_answer{
	height: 30px;
	width: 480px;
}
.find_answer{
	font-size: 4vw;
}
.wrapper_what_inter{
	height: 815px;
	width: 320px;
}
.what_interesting{
    height: 114px;
	width:77%;
	padding-right: 3%;
	font-size: 3vw;
}
.wrapper_delo{
	height: 93px;
	width:320px;
	padding-left: 0;
	padding-right: 10%;
}
.delo{
	height: 97px;
	width: 77%;
	line-height: 1.6;
	font-size: 2.3vw;
}
.wrapper_percent{
	height: 183px;
	width: 320px;
}
.percent{
	height: 128px;
	width: 77%;
	font-size: 3vw;
}
.wrapper_hlorofil{
	height: 16px;
	width: 320px;
}
.hlorofil{
	height: 16px;
	font-size: 3vw;	
}
.wrapper_moglo{
	height: 89px;
	width: 320px;	
}
.moglo{
	height: 139px;
	width: 77%;
	padding-right: 1%;
	font-size: 3vw;	
}
.wrapper_will_begin{
	height: 140px;
	width: 320px;	
}
.will_begin{
	height: 140px;
	width: 77%;
	padding-right: 1%;
	font-size: 3vw;
}
.wrapper_table{
	display:none;
}
.wrapper_conservativ{
	height: 148px;
	width: 320px;
	font-size: 1.8vw;
}
.conservativ{
	height: 40px;
    width: 77%;
	margin-left: 11%;
	font-size: 3vw;
}
.wrapper_spisok{
	width: 320px;
	height: 148px;	
}
.spisok{
	width:77%;
	margin: auto;
	font-size: 3vw;
}
.spisok li{
	height: 24px;
}
.wrapper_me{
	height: 98px;
	width: 320px;
}
.me{
	font-size: 2.8vw;
}
footer{
	height: 100px;
	width: 320px;
}
.footer_test{
	width: 71px;
	font-size: 2.3vw;
}
}
